<!DOCTYPE html>
<html>
  <head>
  <body style="background-color:powderblue;">
    <title>Instagram</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <i class="fab fa-instagram logo-design"></i>
      <a class="navbar-brand" href="/">myInsta</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Mypost">Mypost</a>
        </li>
        
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  post modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">post title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <% Post.all.each do |post| %> 
  <div class="card mt-3 post" style="background-color:azure;">
    
        <span><%= post.title %></span>
    </div>

<% end %>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>



      </ul>
      <form class="form-inline my-2 mr-4 my-lg-0" method="get" action="/search" >
       <input class="form-control mr-sm-2"type="search" placeholder="Search" aria-label="Search" name="query">
       <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
      </form>
       <p class="navbar-text float-left m-0">
          <% if user_signed_in? %>
           <strong class="mt-1"><%= current_user.email %></strong>
           <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-primary' %> |
           <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-primary'%>
           <% else %>
           <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-info my-2 my-sm-0" %> |
           <%= link_to "Login", new_user_session_path, :class => 'btn btn-info my-2 my-sm-0' %>
          <% end %>
       </p>
     </div>
  
    </nav>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
